.main {
     margin-top: 4em;
}

p.huge,
span.huge {
  min-height: 1em;
  font-size: 2em;
}
p.large,
span.large {
  font-size: 1.714em;
}
p.medium,
span.medium {
  font-size: 1.28em;
}
p.small,
span.small {
  font-size: 1.071em;
}
p.tiny,
span.tiny {
  font-size: 1em;
}
